@media only screen and (min-width: 32.5em) {
    h1 {     
        font-size: 2.2em;
        line-height: 110px;     
    }
    main {      
        grid-template-columns: 1fr 1fr; 
        margin: auto 0;            
    }  
    #three {
        grid-column: 1/3;
    } 
    #footer_update {
        display: inline-block;
    }
    #portal1_sml {
        display: none;
    }
    #portal1 {
        display: inline;
        margin-right: 10px;
        vertical-align:middle; 
    } 
}