/* 69em is also 1104px when basefont is 16px */
@media only screen and (min-width: 69em) {
    #pancakes {
        font-size: 18px;
    }
    header img {        
        width: 232px;
    }
    header h1 {
        font-size: 50px;        
    }
    .motto {  
        font-size: 30px;    
    }
    .day {    
        width: 150px;     
    }
    #contact_info p {
        font-size: 16px;       
    }  
    .social img{
        width: 64px;
    }
    .social a {
        margin-right: 46px;
     }
    .social a:hover {       
        padding-top: 54px;       
    }   
}  