/* set a max width for the content and the backgroung color for the screen*/
body {
    margin: 0;
    background-color: #474747;
}
/* part 1 of 2 settings to put the footer at the bottom of the screen & color the inside of the body */
#container{
    position: relative;
    min-height: 100vh;  
}
/* this part is to keep the content from getting cut off if it gets bigger than the page */
#page {    
    padding-bottom: 89.109px;   /* width of the footer */
}
/* end of part 1 of 2 settings to put the footer at the bottom of the screen & color the inside of the body */
header {
    color: #1A237E;
    background-color: #FF9E80;
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 20px;      
}	
header img {  
    box-sizing: border-box;
    width: 87px;
}
header h1 {   
    text-align: center;    
    font-family: "Ranchers", "Verdana", cursive;
    font-size: 17px;      
    margin: 0; 
    letter-spacing: 2px;
}
#spacing {
    /*letter-spacing: 5px;*/
    letter-spacing: normal;
}
.motto {        
    font-family: "Krona One", "Trebuchet MS", sans-serif;
    font-size: 10px; 
    padding-top: 4px; 
    text-align: center;  
    margin: 0;    
}
nav {   
    background-color: #1A237E;    
}
nav ul {   
    text-align: center;
    padding: 0;
    margin: 0;  
}
nav li {   
    display: none;   
}
nav li {   
    list-style: none;   
    line-height: 20px;
    padding: .75em;   
    border-top: 1px solid #FF9E80;
    border-bottom: 1px solid #FF9E80; 
}
#menu_li {
    background-color: #474747;   
}
#menu_a {
    color: #ffffff;
}
#last_li {
    border-bottom: 2px solid #FF9E80; 
}
.responsive li {
    display: block;  
}
.responsive li:first-child {
    border-bottom: 1px solid #FF9E80;
}
nav li:first-child {
    display: block;
    color: #ffffff;
    line-height: 20px;
    padding: .75em;
    border-bottom: 2px solid #FF9E80;    
}
nav li:second-child {
    border-top: 2px solid #FF9E80;
}
a:hover {     
    color: #ffffff;    
    background-color: #FF9E80; 
    /*line-height: 2rem;*/
}
/* default font size = 16px */
nav a { 
    display: block;
    color: #ffff00;
    text-decoration: none;
    font-size: 16px;/*2rem;*/
    font-family: "Ranchers", "Verdana", cursive;     
}
.menu_symbol {   
    font-size: 2rem;
}
.responsive .menu_symbol {
    margin-bottom: 8px;
}
#closed {
    display: flex;
    align-items: center;
    justify-content: center;
}
#open {
    display: none;
}
.responsive #closed {
    display: none;
}
.responsive #open {
    display: flex;
    align-items: center;
    justify-content: center;
}
.active {    
    color: #1A237E; 
    /*line-height: 2rem;*/  
}
.active2 {    
    background-color: #FF9E80;  
    padding: 2px;
    border-radius: 2em;
    width: 100px;   
    margin: 0 auto;   
}
#inner_pg {
    background-color: #e3f0ff;
    max-width: 960px;  
    margin: 0 auto;
    border-radius: 2em;
    /*padding-bottom: 34px;*/  
}
/* (h2) = 24px */
main h1, main h3 {
    font-family: "Ranchers", "Verdana", cursive;
    letter-spacing: 5px; 
    text-align: center;        
}
main h1 {
    margin-top: 0;
    padding-top: 22px;
    color: #ffffff;   
}
main h3 {
    border-top: 2px dashed #868686;
    border-bottom: 2px dashed #868686;
    background-color: antiquewhite;
    padding: 20px;
    color: #868686;;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 1em;
    font-size: 14px;
}
/* default font size = 16px */
p {
    font-family: "Krona One", "Trebuchet MS", sans-serif;
    font-size: 12px; 
}
footer a {
    font-family: "Ranchers", "Verdana", cursive;
    color: #FF9E80;
}

/* set footer background color, center text, and round edges (color was rgb(251, 192, 45)) */
footer {      
    background-color: #1A237E;
    text-align: center;        
    padding: 5px 0;
    /* part 2 of 2 settings to put the footer at the bottom of the screen */
    /*position: absolute;
    bottom: 0;
    width: 100%;*/  
    /* end of settings to put the footer at the bottom of the screen */ 
    max-width: 960px;
    margin: 0 auto;
    border-radius: 2em;   
}
/* put the to sentence in the right spot & color the font (color was #009688) */
#footer_info {     
    color: #FF9E80;
    margin: 10px 0 10px 0;
}
/* put the bottom last update info in the right spot and color the font */
#footer_update {     
    font-size: .83em;
    color: #ffff00;
    margin-top: 0;     
}
#portal1 {
    display: none;
}
#portal1_sml {   
    margin-right: 10px;
    vertical-align: middle; 
}
#portal2 {
    margin-left: 10px;
    vertical-align: middle; 
}
