@media only screen and (min-width: 32.5em) {
    header {
        /*flex-direction: row;*/
        gap: 35px;
    }
    
    header img {        
        width: 180px;
    }
    header h1 {
        font-size: 32px;        
        letter-spacing: 14px;
    } 
    .motto {        
        font-family: "Krona One", "Trebuchet MS", sans-serif; 
        font-size: 25px;     
        padding-top: 8px;
    }    
    nav ul {
        display: flex;
    }
    nav li {                
        flex: 1 1 auto;
        display: block;        
        line-height: 50px;
        padding: .75em; 
        border-top: 0;
        border-bottom: 0;  
    }
    nav li:first-child {
        display: none;
    }
    nav a {
        margin-top: 8.5px;        
        line-height: 16px;
        display: inline-block;
        padding: 0;                           
    }
    nav li:second-child {
        border-top: 0;       
    }
    #last_li {
        border-bottom: 0; 
    }    
    .active {    
        color: #1A237E;
        background-color: #FF9E80;   
        padding: 15px;
        border-radius: 2em;
        margin-top: 0;
        margin-bottom: 0;
    }
    a:hover {
        padding: 15px;
        border-radius: 2em;
    }
    main h3 {
        font-size: 19px;
    }
    #footer_update {
        display: inline-block;
    }
    #portal1_sml {
        display: none;
    }
    #portal1 {
        display: inline;
        margin-right: 10px;
        vertical-align:middle; 
    }
}