body {
    background-color: #bd996a;
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-right: 10px solid;
}
.cards {
    display: block;    
}
section {
    text-align: center;    
    background-color: antiquewhite;   
    margin: .5em;   
    border: 10px groove #fff;
    outline: 1px solid;
    padding-bottom: .75rem;
}
img {
    width: 80%;    
    border: 1px solid #912626;   
    border-left: 5px solid  #c46d6d;
    border-right: 5px solid  #c46d6d; 
    box-shadow: 0 8px 10px #912626; 
    border-top: 0;    
}
h2 {
    font-size: 1.7rem;
    margin: 0;
    color: #c46d6d;
    text-shadow:1px 1px 10px #8b8b8b, 1px 1px 10px #747474;
}
h1 {
    text-align: center;    
    color: #912626;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    background-color: #d3d2d2;
    width: 75%;
    padding: .3rem;
    margin: 1rem auto  2rem auto;
    border: 2px solid;
    outline: 10px outset #fff;  
}
p {
    font-size: 1.1rem;
}
footer {
    text-align: center;
    background-color: #3e3e3e;
    color: #fff;
    padding: 2rem;
    font-size: 2rem;
    font-size: 1.25rem;
}
.together {
    display: inline-block;
}