/*------------------------------ WHOLE PAGE ---------------------------*/
body {
	background-image: url("/XII_final_project_scoots/images/web_background2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;   
}
#content {
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgba(249, 198, 41, .55);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;   
}
/*-------------------------------- HEADER ---------------------------------*/
header #header_content {
    background: linear-gradient(0deg, rgba(49, 110, 244, .66) 10%, rgba(50, 231, 200, .66)  100%); 
    padding-top: 1rem;  
}
#top_section {
    display: flex;
    justify-content: space-between
}
header div #logo { 
    
    max-width: 730px;     
    max-height: 200px;     
}
header div #logo img { 
    width: 100%;  
    height: 100%;       
}
/*--------------------------- WEATHER SUMMARY -----------------------------*/
#weather_summary {  
    display: none;
}
#weather_summary_title {    
    line-height: 25px; 
    font-size: 16px; 
    font-family: "Trebuchet MS", sans-serif;    
    color: #1A237E;
    text-shadow:1px 1px 10px #FF9E80, 1px 1px 10px #FF9E80;
    grid-column: 1/3;
    border-bottom: 1px solid #1A237E;      
}
#current_w_icon {
    position: absolute;
    margin-left: 70%;
    margin-top: 38%;
    width: 75px;
}
#condition {
    grid-column: 1/3;
    text-align: center;
    margin-right: -20px;
}
#condition, #current_w_icon {    
    align-self: center;
}
.w_category {   
    text-shadow:1px 1px 10px #1A237E, 1px 1px 10px #1A237E;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 10px; 
    justify-self: end; 
    margin-right: .25rem; 
    grid-column: 1;
    z-index: 1;
}   
.w_description {
    color: #ffff00; 
    font-family: "Krona One", "Trebuchet MS", sans-serif; 
    font-size: 10px; /*16px*/
    text-shadow:1px 1px 10px #1A237E, 1px 1px 10px #1A237E;   
    margin-right: .5rem;
    margin-top: 3px;
    z-index: 1; 
}
header div.motto {        
    font-family: "Montserrat Alternates", "Trebuchet MS", sans-serif;    
    font-size: 17px;
    font-weight: 900;
    text-align: center;       
}
/*-------------------------------- HEAD NAV -------------------------------*/ 
header div #floating_nav_bar {
    max-width: 860px;
    z-index: 10;  
}
#pin_txt {
    display: none;
}
header div #nav_curtain {   
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    background-color: #004775;
    height: 25px;    
}
nav {
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    box-shadow: 0 0 30px #333;
    background-color: #2C7DA0;
    padding-bottom: 1rem;
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
nav ul li {
    display: none;
    background-color: #61A5C2;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px #333;    
  }   
nav ul li a {
    display: block;
    font-family: "Montserrat Alternates", "Trebuchet MS", sans-serif; 
    font-weight: 900;
    text-decoration: none;
    padding: .75rem;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, transparent, #e97373, transparent) top / var(--d, 0) 50px no-repeat;
    transition: 0.5s;     
}  
nav ul li a:active {
    background-color: rgb(46, 94, 255);
}  
nav ul li.nav_list:hover {
    background-color: #004775;
    --d: 85%;
}  
nav ul #menu {
    display: block;
} 
.responsive li {
    display: block;
}
.responsive li:first-child {
    border-bottom: 1px solid #FF9E80;
}
.responsive .menu_symbol {
    margin-bottom: 8px;
}
.responsive #closed {
    display: none;
}
.responsive #open {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu_a {
    color: #ffffff;
}
#open {
    display: none;
}
/*------------------------------- MAIN --------------------------------*/
main {
    background-color: rgb(46, 94, 255, .55);
}
main #main_content {
    margin-top:  10rem;
	display: grid;
	grid-template-columns: 1fr;    
	margin: 0 2% 0 2%; 
}
h1, h2, h3 {
    font-family: "Permanent Marker", "Verdana", cursive;
}
p, h4, h5 {
     font-family: "Montserrat Alternates", "Trebuchet MS", sans-serif;
}
/*--------------- HERO IMG, WELCOME, & CALL TO ACTION -----------------   HOME PAGE*/
main .hero {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr;  
    align-items: center; 
    z-index: 1;   
}  
main picture.home_hero_frame { 
    grid-column: 1;   
    grid-row: 1/3;
    z-index: -1;
}  
main picture.home_hero_frame img {      
    width: 100%;    
}  
main div .hero_text {    
    grid-column: 1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    text-align: center;   
    color: #fff;   
    text-shadow:1px 1px 10px #ad2222, -1px -1px 10px #ad2222;
}  
main div .hero_text h1 {
    margin-top: 8rem;
    grid-column: 1;
    font-size: 2.3rem;
    margin-bottom: 0;
}  
main div .hero_text h2 {
    grid-column: 1;
    font-size: 1.6rem;
    margin-top: -4px;
    margin-bottom: 0;
}  
main div .hero_action {   
    grid-column: 1;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: end; /*added */
    background: #004775;
    padding: 1rem 1.25rem;
    border-radius: 10px;
    margin-bottom: 8rem; 
    background: linear-gradient(90deg, transparent, #C7E973, transparent) bottom / var(--t, 0) 50px no-repeat;      
    background-color: #ad2222;  
    border: 10px outset #fff;
    outline: 1px solid;    
    border-radius: 1rem;        
}  
main div .hero_action:hover {    
    --t: 70%; 
    background-color: #0062a3;
    transition: all 0.65s linear;
    transform: scale(1.15);    
}  
main div .hero_action a {
    box-sizing: border-box;
    color: #fff;
    font-weight: 900;
    font-size: 1rem;   
    margin: 0;   
}
main div .hero_action a:hover {
    color: #fff;
}
/*------------------------- WEATHER FORECAST ---------------------------*/
#forecast {
    display: none;
    text-align: center;  
}
/*------------------------- VEHICLE INTRODUCTIONS ---------------------------   HOME PAGE*/ 
a.sub_t_link {
    text-decoration: none;
    color:black;
}
.subject_title {
    color: black;
    font-size: 25px;
    text-align: center;    
    border: 10px outset #fff;
    outline: 1px solid;    
    border-radius: 1rem; 
    max-width: 1000px; 
    margin: 10px auto 0 auto;
    background: linear-gradient(90deg, transparent, #C7E973, transparent) top / var(--t, 0) 65px no-repeat;
    background-color: #ad2222;     
}
.subject_title:hover {
    --t:70%;
    transition: 1.85s;
}
a h2.subject_title:hover {    
    padding: .75rem;       
    transition: 1.85s;
    text-shadow:1px 1px 10px #ffff00, -1px -1px 10px #ffff00; 
    
} 
h4 {
    font-family: "Permanent Marker", "Verdana", cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #ad2222;
    text-shadow: 3px 3px 5px black;
    text-shadow:1px 1px 10px #fff, -1px -1px 10px #fff; 
    margin: 0;   
}
figure div {
    font-family: "Montserrat Alternates", "Trebuchet MS", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-align: center; 
    color: #fff;   
    text-shadow:1px 1px 10px #ad2222, -1px -1px 10px #ad2222;
}
.click_push {
    font-size: .75rem;
    color: #000;
}
#scooter_img {
    padding-top: 2rem;
}
#jeep_img {
    padding-top: 2rem;
}
#vehicle_intro {
    display: flex; 
    flex-wrap: wrap;    
}
#atv, #atv_img {       
     width: 100%;
     order: -1;
}
#atv h4 {   
    width: 136px;
    margin-left: auto;
    margin-right: auto;    
  }
#jeep, #jeep_img {
   /* margin-top: 8rem;*/
    order: 1;
    width: 100%;
}
#scooter, #scooter_img {       
    width: 100%;
}
a.link_wrapper img:hover, .subject_title:hover {
    transition: all 0.85s linear;
    transform: scale(1.15);      
}
/*--------------------- VEHICLE RENTAL INFO SUMMARY ----------------------  HOME PAGE*/
article#rent_sum {   
    font-family: "Montserrat Alternates", "Trebuchet MS", sans-serif;    
}
#rs_title {    
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    text-shadow:1px 1px 10px #ad2222, -1px -1px 10px #ad2222;   
}
article#rent_sum hr {
    height: 3px;
    color:rgb(46, 94, 255);
    width: 600px;
}
#rs_grp1 {
    background-color: rgba(44, 125, 160, .5);
    padding: 0 1rem;
    border-radius: 1rem;
    border: 2px solid #C7E973;
}
#rs_grp2 {
    background-color: rgba(44, 125, 160, .5);
    padding: 0 1rem;
    border-radius: 1rem;
    border-radius: 1rem;
    border: 2px solid #C7E973;
}
#rs_grp3 {
    background-color: rgba(44, 125, 160, .5);
    padding: 0 1rem;
    border-radius: 1rem;
    border-radius: 1rem;
    border: 2px solid #C7E973;
}
article#rent_sum dt, article#rent_sum dd {
    font-weight: 900;
    margin-bottom: 1rem;
}
article#rent_sum dt {
    font-family: "Ranchers", "Verdana", cursive;
    color:#1A237E;
    text-shadow:3px 3px 10px #ffff00, -3px -3px 10px #ffff00; 
    outline: 1px dotted;
    border: 2px solid;    
    border-radius: .75rem; 
    width:fit-content;
    padding: .5rem;
    background: linear-gradient(90deg, transparent, #C7E973, transparent) bottom / var(--t, 0) 50px no-repeat;
    background-color: #ad2222;
    --t:65%;
}
article#rent_sum dt a {
    background: linear-gradient(90deg, transparent, #C7E973, transparent) bottom / var(--t, 0) 50px no-repeat;
}
article#rent_sum dt a:hover {
    color: #ad2222;
    border: 1px solid #ad2222;
    text-shadow:3px 3px 10px  #ffff00, -3px -3px 10px #ffff00;
    border-radius: .75rem;
    background-color: #2f3feb;  
    padding: .75rem;   
    transition: 0.85s; 
    --t:85%
}
article#rent_sum dd {
    color: #ad2222;
    text-shadow:1px 1px 10px #ffff00, -1px -1px 10px #ffff00;
    margin-left: 0;  
}
article#rent_sum dd ul {
    font-weight: 100;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 0 0;
    margin-left: -20px; 
}

article#rent_sum h3 {
    padding: .25rem;
    color: black;     
    border: 10px outset #fff;
    outline: 1px solid;    
    border-radius: 1rem; 
    text-align: center;
    background: linear-gradient(90deg, transparent, #C7E973, transparent) bottom / var(--t, 0) 50px no-repeat;
    background-color: #ad2222;         
}
article#rent_sum a {
    text-decoration: none;
}
article#rent_sum a h3:hover {
    background-color: #2f3feb;  
    padding: .75rem;
    transform: scale(1.2);    
    transition: 1.25s;
    text-shadow:1px 1px 10px #ffff00, -1px -1px 10px #ffff00;
    --t: 70%; 
}
/*--------------------- VEHICLE RENTAL IMAGES & CARDS ----------------------   Rental PAGE*/
#rental_selections_title { 
    color: #fff;   
    text-shadow:1px 1px 10px #ad2222, -1px -1px 10px #ad2222;
}
section#rental_cards { 
    padding: .1rem .4rem;    
    text-align: center;
}
article.rental_card { 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-between;
    text-align: center;
    box-sizing: border-box;
       
    background: radial-gradient(farthest-corner at 40px 40px,#ad2222, #C7E973);   
    padding: 2rem .4rem;
    border: 10px groove #fff;
    outline: 1px solid;    
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 2rem;   
}
div.h_wrap {
   min-height: 170px;
}
h2.rental_title {
    font-size: 2.25rem;
    margin: 0;
    color: #1A237E;
    text-shadow:1px 1px 10px #8b8b8b, 1px 1px 10px #747474;    
    border-top: 3.75px solid #1A237E;
    box-shadow: 0 -18px 10px #747474; 
}
h5.prompt {
    color: #fff;
}
p.features {
    margin-top: 2rem;
    text-shadow:1px 1px 10px #fff, -1px -1px 10px #fff; 
    font-weight: 900;    
}
div.rental_line {
    height: 16px;
    border-top: 3.75px solid #1A237E;
    box-shadow: 0 -18px 10px #747474;
    border-bottom: 3.75px solid #1A237E;
    box-shadow: 0 0 20px #000;
    border-radius: .35rem;  
}
article.rental_card img.rental_img {
    width: 100%;
    box-sizing: border-box;      
    border: 1px solid #fff;   
    border-left: 5px solid  #8b8b8b;
    border-right: 5px solid  #8b8b8b; 
    box-shadow: 0 8px 10px #747474; 
    border-top: 0; 
    margin-bottom: 2rem;    
}
img.rental_img:hover {  
    transition: all 0.4s linear;
    transform: scale(1.1);
    background-color: #004775;
   
}
/*--------------------- VEHICLE RENTAL TERMS & INFO ----------------------   Rental PAGE*/
section#terms {
    text-align: center;
}
h2#terms_header {
    margin-bottom: 1.25rem;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #fff; 
}
h5.prompt {
    border-bottom: 3.75px solid #1A237E;
    box-shadow: 0 18px 10px #747474;
    padding-bottom: 2rem   
}

section#terms ul {   
    padding:0;
    margin:0;    
}

section#terms ul li {
    list-style-type: none;
    font-family: "Montserrat Alternates", "Trebuchet MS", sans-serif;
    font-weight:900;
    padding-bottom: 1.5rem; 
    text-shadow:1px 1px 10px #fff, -1px -1px 10px #fff;  
}
/*-------------------------------- FOOTER ---------------------------------*/
iframe #map {
    border: 5px solid #ffff00;
}
#contact_resources {   
    display: block;
    text-align: center;  
    padding: 1em; 
    color: #ffff00;   
}
#map {
    display: none;   
}
#contact_info p {
    font-size: 16px;
    margin-bottom: -12px;
}
#email_w, #email_w2 {
    font-size: 7px;
}
#one_line, #one_line2 {
    display: block;    
}
.social img{
    width: 64px;
}
.social a:hover {
    padding-right: 3px;
    padding-left: 3px;        
    padding-top: 54px;
    padding-bottom: 0;
    border-radius: 0;
    background-color: #ffff00;        
}
footer a {
    font-family: "Ranchers", "Verdana", cursive;
    color: #ffff00; 
    font-size: 20px;
}
/* set footer background color, center text, and round edges (color was rgb(251, 192, 45)) */
footer { 
    background: linear-gradient(0deg,  rgba(51, 51, 51, .4) 10%, rgba(255, 255, 0, .494),rgba(139, 174, 252, 0.66) 100%);     
    background-color: rgba(51, 51, 51, 0.712);
    text-align: center;
    padding: 5px 0;
    padding-top: 10px;   
    width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;     
}
/* put the to sentence in the right spot & color the font (color was #009688) */
.footer_info {     
    color: #ffff00; 
    margin: 10px 0 10px 0; 
    font-size: 14px;   
}
/* put the bottom last update info in the right spot and color the font */
#footer_update {     
    font-size: .83em;
    color: #ffff00;
    margin-top: 0;     
}
#byu_link {  
    display: inline-block;
}
#portal1 {
    display: none;
}
#portal1_sml {   
    margin-right: 10px;
    vertical-align: middle; 
}
#portal2 {
    margin-left: 10px;
    vertical-align: middle; 
}
#portal1_sml img:hover {
    background-color: #912626;
    padding: .25rem;
    box-sizing: border-box; 
    border-top-left-radius: 1rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 5rem;   
    transform: scale(1.2);
}
#portal2 img:hover {
    background-color: #912626;
    padding: .25rem;
    box-sizing: border-box; 
    border-top-left-radius: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 1rem;   
    transform: scale(1.2);
}
