/* 50em is also 800px when basefont is 16px */
@media only screen and (min-width: 50em) {
/*-------------------------------- HEADER ---------------------------------*/
/*--------------------------- WEATHER SUMMARY -----------------------------*/
#weather_summary {
    min-width: 24.4%;
}
.w_category {       
        font-size: 16px;       
    }   
    .w_description {       
        font-size: 12px;                  
    }
    header div.motto {  
        font-size: 30px;     
    }
/*------------------------------- MAIN --------------------------------*/
/*--------------- HERO IMG, WELCOME, & CALL TO ACTION ----------------- HOME PAGE*/
    main section .hero {
        grid-row: 1/3;
        grid-column: 1/2;
        z-index: 0;
        grid-template-columns: 1fr .1fr 1fr;
        grid-template-rows: 1fr 1.5fr 1fr;   
    }
    main picture.home_hero_frame {
        grid-column: 1/4;
        grid-row: 1/4;
    }
    main  div .hero_text {
        grid-column: 1/4;
        grid-row: 2;
        align-self: start;
    }
    main div .hero_text h1 {
        font-size: 5.5rem;
        margin-bottom: 0;
        margin-top: -10%;
        
    }
    main div .hero_text h2 {
        font-size: 2.8rem;
        margin-top: 5px;
        margin-bottom: 0;
    }
    main div .hero_action {
        grid-column: 1/4;
        grid-row: 3;
        align-self: start;
        box-shadow: -3px 3px 6px #fff;
        margin-bottom: 0rem;
    }
/*--------------------- VEHICLE RENTAL IMAGES & CARDS ----------------------   Rental PAGE*/
p.features {
    margin-top: 2rem;   
}
h5.prompt {
    height: 40px;
    padding-bottom: 0;
}
main section.townCard:hover {
    box-shadow: 0 0 50px #333;
    transition: all 0.4s linear;
    transform: scale(1.1);
} 
/*-------------------------------- FORM -----------------------------------*/
h1#form_title {
    font-size: 8rem;  
}
/*-------------------------------- FOOTER ---------------------------------*/
    #contact_info p {
        font-size: 16px;       
    } 
    #contact_info p:nth-of-type(1) {
        letter-spacing: 0;      
    } 
    #email_w, #email_w2 {
        font-size: 17px;
        letter-spacing: 1.5px;
    }
    .social img{
        width: 64px;
    }
    .social a {
        margin-right: 76px;
     }
    .social a:hover {       
        padding-top: 54px;       
    }   
}  
    

/* 81.25em is also 1300px when basefont is 16px */
@media only screen and (min-width: 81.25em) {
/* Create a special size for the floating rental cars to reposition     HOME PAGE*/
    #vehicle_intro {        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        margin-top: 3rem;
    }
     #atv, #atv_img {        
        grid-row: 1;
        grid-column:1;          
    }
    #atv_img {
         margin-left: -90px;
    }
    #jeep_img {
         padding-top: 5rem;
    }
    #jeep, #jeep_img {
        grid-row: 1;
        grid-column:2;
        margin-left: -20px;
        margin-right: -40px;      
        position: absolute;
        left: -50px;
        top: 40px
       
    }
    .subject_title {    
        margin-bottom: -30px;
    }
    #scooter, #scooters_img {
        position: absolute;        
        top: -3px;
        left: 20px;       
        grid-row: 1;
        grid-column:3;         
    }  
    #scooter .click_push {   
        margin-top: 0;
        margin-bottom: 0; 
        margin-left: -100px;      
    }   
    #scooter h4 {       
        margin-top: -3px;       
        margin-left: -110px;
    }
    #scooter .price {      
        margin-top: -40px;
        margin-bottom: 26px;
        margin-left: -100px;
    }
    #atv h4, #atv div {
        text-align: left;
        line-height: 100px;
    }
    #atv h4 {        
        margin-top: -10px;
        margin-left: -90px;
    }
    #atv h4 .flag {      
        font-size: 70px;     
    } 
    #atv .click_push {
       margin-left: 32px;
    }
    #atv div {
        margin-left: 0px;
        line-height: 40px;
        margin-top: -10px
    }  
    #jeep h4, #jeep div {
        margin-right: 100px;
        margin-top: -35px;        
    }
    #jeep div {
        margin-top: 0;
        line-height: 40px;
    }
    #jeep .click_push {
       line-height: 90px;
       margin-top: -75px;
    }
    }